/OOPAtm/nbproject/private/
/OOPAtm/build/
/OOPAtm/dist/
/Idman/nbproject/private/
/Idman/build/
/inheritance1/nbproject/private/
/inheritance1/build/
/CalisanlarProgrami/nbproject/private/
/CalisanlarProgrami/build/
/Composition/nbproject/private/
/Composition/build/
/Encapsulation/nbproject/private/
/Encapsulation/build/
/PolyMorphism/nbproject/private/
/PolyMorphism/build/
/PolyMorphism2/nbproject/private/
/PolyMorphism2/build/
/Beyblade/nbproject/private/
/Beyblade/build/
/HafizaOyunu/nbproject/private/
/HafizaOyunu/build/
/ForEach/nbproject/private/
/ForEach/build/