/OOPAtm/nbproject/private/
/OOPAtm/build/
/OOPAtm/dist/
/Idman/nbproject/private/
/Idman/build/
/inheritance1/nbproject/private/
/inheritance1/build/
/CalisanlarProgrami/nbproject/private/
/CalisanlarProgrami/build/